{% macro player(music, id, quarter) %}
  <div class="player" id="{{id}}">
    <style>
      .player {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .play {
        height: 60px;
        aspect-ratio: 1 / 1;
        border-radius: 100vmax;
        background-color: var(--emotion-color);
        border: none;
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
      }
    </style>
    <button class="play" style="margin-right: 40px;">
      <img id="play-icon" src="static/icons/play.png" width="50px" />
    </button>
    <canvas id="waveform" width="420" height="100"></canvas>
    <script>
      initPlayer('{{music}}', document.getElementById('{{id}}'), '{{quarter}}');

        /*ctx.beginPath();
        ctx.strokeStyle = `rgba(255, 255, 255, 0.2)`;
        ctx.lineWidth = 4;
        ctx.moveTo(0, canvas.height / 2);
        for (let x = 1; x < canvas.width; x += w) {
          const val = sumWavePoint(canvas.width - x, frequencyData, 3);
          const y = canvas.height / 2 + val/6 * canvas.height/2;
          ctx.lineTo(x, y);
        }
        ctx.stroke();*/

      /*function sumWavePoint(x, frequencies, off) {
        let sum = 0;
        for (let i = 0; i < 128; i+=off) {
          const freq = i / 128;
          const amp = frequencies[i] / 100;
          sum += Math.sin(x * freq + time + (i * 0.2)) * amp;
        }
        return sum;
      }*/
    </script>
  </div>
{% endmacro %}